body {
font-family: monospace, sans-serif;
margin: 0;
padding: 0;
background: linear-gradient(120deg, #248A52, #257287);
box-shadow: 0px 5px 20px 0px rgba(108, 108, 229, 0.5);
-webkit-box-shadow: 0px 5px 20px 0px rgba(108, 108, 229, 0.5);
-moz-box-shadow: 0px 5px 20px 0px rgba(108, 108, 229, 0.5);
}

.container {
color: #FFFFFF;
background: linear-gradient(135deg, #044f48, #2a7561);
font-family: "Open Sans", sans-serif;
font-size: 21px;
text-align: left;
padding: 10px 0px 10px 0px;
line-height: 1.7;
overflow-x: hidden;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

.login-box {
position: absolute;
top: 60%;
left: 50%;
width: 360px;
padding: 40px;
transform: translate(-50%, -50%);
background: linear-gradient(to right, rgba(83, 200, 239, 0.8) 0%, rgba(81, 106, 204, 0.8) 96%);
box-sizing: border-box;
box-shadow: 0 15px 25px rgba(0,0,0,.6);
border-radius: 0;
}

.login-box .user-box {
position: relative;
}

.login-box .user-box input {
width: 100%;
padding: 10px 0;
font-size: 16px;
color: #fff;
margin-bottom: 30px;
border: none;
border-bottom: 1px solid #fff;
outline: none;
background: transparent;
}

.login-box .user-box label {
position: absolute;
top: 0;
left: 0;
padding: 10px 0;
font-size: 16px;
color: #fff;
pointer-events: none;
transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
top: -20px;
left: 0;
color: #bdb8b8;
font-size: 12px;
}

.button {
--color: #FFF;
padding: 0.8em 1.7em;
background-color: transparent;
border-radius: .3em;
position: relative;
overflow: hidden;
cursor: pointer;
transition: .5s;
font-weight: 400;
font-size: 17px;
border: 1px solid;
font-family: inherit;
text-transform: uppercase;
color: var(--color);
z-index: 1;
}

.button::before, .button::after {
content: '';
display: block;
width: 50px;
height: 50px;
transform: translate(-50%, -50%);
position: absolute;
border-radius: 50%;
z-index: -1;
background-color: var(--color);
transition: 1s ease;
}

.button::before {
top: -1em;
left: -1em;
}

.button::after {
left: calc(100% + 1em);
top: calc(100% + 1em);
}

.button:hover::before, .button:hover::after {
height: 410px;
width: 410px;
}

.button:hover {
color: #ffff;
}

.button:active {
filter: brightness(.8);
}